button{
    padding: 20px 50px;
    font-size: 20px;
    border-radius: 25px;
    border: none;
    margin-bottom: 10px;
}

span{
    font-size: 20px;
    padding-left: 5px;
}

.default:hover{
    background: cornflowerblue;
}
.red:hover{
    background: darkred;
    color: white;
}
.green:hover{
    background: darkgreen;
    color: white;
}
